<footer class="footer">
  <small>
    <%= link_to "Stefan Babić", "https://de.linkedin.com/in/stefan-babic-54203b120/", :target => "_blank" %> / 
    <%= mail_to "babic.stefan@gmail.com" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über mir", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><%= link_to "News", "http://weblog.rubyonrails.org/", :target => "_blank" %>
    </ul>
  </nav>
</footer>